.add_content{
    position: relative;
    left: 280px;
}
.add_cards_content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    opacity: 1;
}
.not_active{
    opacity: 0;
}
.cards_content{
    margin-right: 150px;
    margin-top: 100px;

}
.cards {
    height: 50px;
    width: 170px;
    border: none;
    border-radius: 100px;
    background-color: aliceblue;
    margin: 20px;
}
.city{
   padding-top: 15px;
   text-align: center;
}
.city:hover{
    cursor: pointer;
}
.button_delete{
    position: relative;
    color:red;
    left: 140px;
    margin-bottom:3px;
    bottom: 33px;
    background: none;
    border: none;
}
.button_delete:hover{
    cursor: pointer;
    font-weight: bold;
}
.button_add{
    height: 30px;
    width: 80px;
    border: none;
    background: #1575CF;
    border-radius: 50px;
    margin-left: 10px;
    color: white;
}
.button_add:hover{
    cursor: pointer;
}
