.header-conteiner{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 80px;
}
.logo-content{
    display: flex;
    justify-content: center;
    text-align: center;
}
.logo{
    text-align: start;
    color: #072B72;
    font-size: 25pt;
    margin-right: 10px;
}
.text-logo{
    color: #072B72;
    font-size: 13pt;
}
.line{
    border-left: 4px solid #1575CF;
    height: 90px;
    padding-top: 35px;
    padding-left: 5px;
}
.language-content{
    margin-left: 550px;
}
.text-language{
    color: #072B72;
    font-size: 13pt;
}